@import 'utilities/variables.scss';

.nav-link {
    color: $white;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link:hover {
    background: linear-gradient(90deg, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.form {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(90deg, $primary, $secondary);
    color: $white;
    padding: 2.1rem 1.5rem;

    input[type='text'] {
        flex: 1;
        color: #fff;
        background: none;
        border: 0;
        outline: 0;

        &::placeholder {
            color: $white;
        }

    }

    button {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        background: none;
    }
}