@font-face {
    font-family: font-li;
    src: url('../../fonts/Paralucent_Light.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: font-md;
    src: url('../../fonts/Paralucent_Medium.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: font-bd;
    src: url('../../fonts/Paralucent_Bold.otf') format('opentype');
    font-display: swap;
}

$font-li: font-li;
$font-md: font-md;
$font-bd: font-bd;
$black: #000;
$white: #fff;
$gray: #999;
$primary: #06b4e3;
$secondary: #88cca4;