/* You can add global styles to this file, and also import other style files */

@import 'utilities/variables.scss';

body {
    font-family: $font-li;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-bd;
}

img {
    max-width: 100%;
}