/* You can add global styles to this file, and also import other style files */

@import 'utilities/variables.scss';

body {
    font-family: $font-li;
}

* {
    outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-bd;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $black;
}


.lazyload {
    display: block;
    min-height: 1px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.lazyloaded .lazyload {
    opacity: 1;
}

.button--primary {
    background-image: linear-gradient(to left, $primary, $secondary);
    background-color: $primary;
    color: $white;
    border: 0;
    padding: 10px 25px;
    border-radius: 0.25rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:hover {
        background-color: $secondary;
        background-image: linear-gradient(to right, $primary, $secondary);
        color: $white;
    }
}

.page-head {
    padding-top: 7rem;
}


.card__img img,
.card__img span {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card__name {
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.card__vote {
    color: $gray;
    font-size: 0.8rem;
}

.star path {
    fill: #C3C3C3;
    transition: fill 0.25s ease;
}

.star.filled path {
    fill: #FFD700;
}