@import 'utilities/variables.scss';


.carousel .card {
    .card__img img {
        width: 100%;
        border-radius: 8px;
    }

    .card__name {
        font-size: 0.9rem;
        margin-top: 0.3rem;
    }

    .card__vote {
        color: $gray;
        font-size: 0.8rem;
    }

    .star path {
        fill: #C3C3C3;
        transition: fill 0.25s ease;
    }

    .star.filled path {
        fill: #FFD700;
    }
}