<div class="listing listing--carousel pt-5">

    <div class="container">
        <!-- Title + Explore -->
        <div class="listing__head d-flex align-items-center justify-content-between mb-4">
            <h2 class="listing__title mb-0">{{ title }}</h2>
        </div>

        <!-- Swiper -->
        <swiper-container class="carousel" slides-per-view="6" space-between="14" [attr.loop]="true"
            autoplay='{"delay":2500,"disableOnInteraction":false}'
            breakpoints='{ "1400":{"slidesPerView":6,"spaceBetween":14}, "1024":{"slidesPerView":5,"spaceBetween":14}, "768":{"slidesPerView":4,"spaceBetween":14},"480":{"slidesPerView":3,"spaceBetween":14}, "0":{"slidesPerView":2,"spaceBetween":14} }'>

            <!-- Item Slides -->
            <swiper-slide *ngFor="let item of items">
                <div class="card border-0">
                    <ng-container *ngIf="isDefaultCarousel; else noLink">
                        <a [routerLink]="[item.link]" class="card__link">
                            <ng-container *ngTemplateOutlet="cardContent"></ng-container>
                        </a>
                    </ng-container>

                    <!-- بدون Link للـ Cast Carousel -->
                    <ng-template #noLink>
                        <div class="card__link">
                            <ng-container *ngTemplateOutlet="cardContent"></ng-container>
                        </div>
                    </ng-template>

                    <!-- المحتوى المشترك لكل البطاقات -->
                    <ng-template #cardContent>
                        <div class="card__img">
                            <img [width]="204" [height]="307" *ngIf="item.imgSrc" [src]="item.imgSrc"
                                [alt]="item.title || item.name" class="lazyload object-fit-cover"
                                onerror="this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'" />

                            <img width="204" height="306" class="lazyload object-fit-cover" *ngIf="!item.imgSrc"
                                src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg"
                                alt="" />
                        </div>

                        <!-- Default Carousel -->
                        <div class="p-2" *ngIf="isDefaultCarousel">
                            <h5 class="card__name text-truncate">{{ item.title }}</h5>
                            <div class="card__rating">
                                <div class="card__stars">
                                    <div class="rating d-flex flex-wrap align-items-center column-gap-3 row-gap-1">
                                        <div class="stars d-flex">
                                            <ng-container *ngFor="let s of [1,2,3,4,5]; let i = index">
                                                <svg class="star" [ngClass]="{ 'filled': (+item.vote / 2) > i }"
                                                    width="15" height="14" viewBox="0 0 15 14"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M7.2 10.5609L11.6437 13.7953L9.95625 8.52185L14.4 5.39998H9L7.2 -2.38419e-05L5.4 5.39998H0L4.44375 8.52185L2.75625 13.7953L7.2 10.5609Z" />
                                                </svg>
                                            </ng-container>
                                        </div>
                                        <div class="card__vote">{{ item.vote }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cast Carousel -->
                        <div *ngIf="isCastCarousel">
                            <h5 class="credits-item__name mb-0 mt-3">{{ item.name }}</h5>
                            <p class="credits-item__character">{{ item.character }}</p>
                        </div>
                    </ng-template>
                </div>

            </swiper-slide>


        </swiper-container>
    </div>


</div>